{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar  navbar-expand-md navbar-dark bg-dark fixed-top">
        <a href="{% url 'index' %}">
            <img class="navbar-brand" src="{% static 'img/logo.png' %}" width=39>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-light rounded border border-dark bg-secondary mr-2 ml-2 pl-2" href="{% url 'applicants' %}">Applicants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light rounded bg-secondary mr-2 ml-2 pl-2" href="{% url 'roles' %}">Roles</a>
                  </li>
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}

    <footer class="py-3 mt-auto fixed-bottom bg-dark">
        <div class="d-flex justify-content-center">
            <span class="text-light">© 2023 Company</span>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}
    <!-- Font Awesome icons (free version)-->
    <script src="https://kit.fontawesome.com/c80ecfc3d1.js" crossorigin="anonymous"></script>
</body>
</html>