{% extends 'layouts/base.html' %}
{% block body %}
<div class="blurry-bg">
    <div class="overlay"></div>
    <div class="d-flex align-items-center justify-content-center vh-100">
      <div class="text-container text-center">
        <h1 class="display-4">InternConnect</h1>
        <p class="lead">Internship Applications Management Platform</p>
      </div>
    </div>
  </div>
{% endblock %}