{% extends "layouts/layout-pages.html" %}
{% load static %}

{% block content %}

<div class="container pt-4">
    <table class="table table-striped table-bordered rounded-table mb-5">
        <tbody id="applicant-profile" class="bg-white">
        </tbody>
    </table>

    <table class="table table-striped table-bordered rounded-table ">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-4">Role</th>
                <th scope="col" class="col-4">Status</th>
                <th scope="col" class="col-2">Actions</th>
            </tr>
        </thead>
        <tbody id="roles-list" class="bg-white">
        </tbody>
    </table>
    
    <div class="row justify-content-end">
        <div class="col-12 text-right">
            <div class="rounded-circle d-inline-block p-2">
                <a href="#" class="btn btn-md btn-success rounded-circle" data-toggle="modal" data-target="#createModal">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">New applicant role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create">
                    <div class="form-group">
                        <label for="roles">Roles:</label>
                        <div id="create-modal-roles" class="form-check"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit applicant role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input id="editName" type="text" class="form-control" readonly name="name" required placeholder="Name">
                </div>
                <form id="update">
                    <div class="form-group">
                        <label for="dropdownField">Select a status:</label>
                        <select class="form-control" id="dropdownField">
                          <option value="">Select Status</option>
                        </select>
                      </div>
                      <div class="modal-footer">
                          <button type="button" id="saveChangesBtn" class="btn btn-success">Save Changes</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'js/profileLogic.js' %}"></script>
{% endblock %}