{% extends "layouts/layout-pages.html" %}
{% load static %}

{% block content %}
<div class="container pt-5">
  <div class="row justify-content-center mb-4">
    <div class="col-12">
      <form id="search" class="form-inline rounded-pill bg-light">
        <div class="input-group w-100">
          <input name="search" type="text" class="form-control border-0" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-dark rounded-pill" type="submit">
              <i class="fas fa-search text-light"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <table class="table table-striped table-bordered rounded-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="col-9">Roles</th>
        <th scope="col" class="col-3">Actions</th>
      </tr>
    </thead>
    <tbody id="role-list" class="bg-white">
    </tbody>
  </table>
  
  <div class="row justify-content-end">
    <div class="col-12 text-right">
      <div class="rounded-circle d-inline-block p-2">
        <a href="#" class="btn btn-md btn-success rounded-circle" data-toggle="modal" data-target="#createModal">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">New role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="create">
          <div class="form-group">
            <input type="text" class="form-control" name="name" required placeholder="Enter role name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="update">
          <div class="form-group">
            <input type="text" class="form-control" id="editRoleName" placeholder="Enter role name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="saveChangesBtn" class="btn btn-success">Save Changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'js/rolesLogic.js' %}"></script>
{% endblock %}